// Global default params, used in configs
params {
  samplefile = null
  outdir = "starsolo-results"
  reference = '/nfs/cellgeni/STAR/human/2020A/index'
  keep_bams = false
  local = null
  params.index_format = "i*i*"
  HELP = false
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs'
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
 
  errorStrategy = 'retry'
  maxRetries    = 5

  withLabel: normal {
    cpus = 1
    memory = 2.GB
    queue = 'normal'
  }
  withLabel: normal4core {
    cpus = 4
    memory = 2.GB
    queue = 'normal'
    maxForks = 10
  }
  withLabel: starsolo {
    container = '/nfs/cellgeni/singularity/images/reprocess_10x.sif'
    cpus = { 4 * task.attempt }
    memory = { 32.GB * task.attempt }
    queue = 'long'
    maxForks = 5
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "starsolo-reports/timeline.html" 
   overwrite = true
}

report {
   enabled = true
   file = "starsolo-reports/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "starsolo-reports/trace.txt"
   overwrite = true
}

// Ensures work directories and removed when pipeline completes
cleanup = true
